PPV-To-BMP/NHL95PPV
PPV-To-BMP/Unpack
PPV-To-BMP/Unpack-backup
VIV-To-WAV/NHL94VIV
VIV-To-WAV/NHL95VIV
VIV-To-WAV/Unpack
IFF-To-WAV/*.iff
IFF-To-WAV/*.wav
DIG-To-WAV/*.dig
DIG-To-WAV/*.wav
QFS-To-BMP/NHL95PAL
QFS-To-BMP/NHL94PAL
QFS-To-BMP/NHL95QFS
QFS-To-BMP/NHL94QPP
QFS-To-BMP/Unpack
QFS-To-BMP/AWARDSI
PAL-To-ACT/NHL**PAL
PAL-To-ACT/Unpack/*.ACT
PAL-To-ACT/Unpack/*.BIN
PAL-To-ACT/Unpack/*
PAL-To-ACT/*.bin
PAL-To-ACT/*.bak
95-Team-Swap-Mod/**/*.png
95-Team-Swap-Mod/**/*.svg
TIL-TO-BMP/NHL95TILMAP
**/node_modules
NHL94INST/**
NHL95CD/**
ANIM-To-BMP/Extracted/**
ANIM94-To-BMP/Extracted/**
ANIM94-To-BMP/*.bin
ANIM95-To-BMP/Extracted/**
ANIM95-To-BMP/*.bin
JIM-To-BMP/NHL92/*
JIM-To-BMP/Extracted/*
JIM-To-BMP/Build/*
JIM-Tools/NHL92/*
JIM-Tools/Extracted/*
JIM-Tools/Build/*
JIM-Tools/3bit-converted/*
SND-Builder/*.snd
Asset-Extractor/NHL**/*
Asset-Extractor/*bin